!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Academy0602
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      - if user_signed_in?
        Logged in as
        = succeed "." do
          %strong= current_user.email
        = link_to 'プロフィール変更', edit_user_registration_path
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to '週報を書く', new_post_path
        = link_to 'HOME', '/'
      - else
        = link_to 'サインイン', new_user_registration_path
        = link_to 'ログイン', new_user_session_path
    = yield